.gridItem {
  display: flex;
  justify-content: center;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.botones .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 18.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
