.header {
  position: sticky;
  top: 0;
  background-color: var(--gris);
  border-bottom: 4px solid var(--azulado);
  box-shadow: 0px 2px 13px 0px var(--azulado);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.headerContent {
  display: flex;
  margin: 20px 25px;
  justify-content: space-between;
  align-items: center;
}

.logoContenido {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  height: 60px;
}

.buttonsContenido {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}
