:root {
  --gris: #262626;
  --blanco: #ffffff;
  --oscurito: #000000;
  --azulado: #2271d1;
  --celestito: #6bd1ff;
  --verde: #00c86f;
  --amarillo: #ffba05;
  --azulOscuro: #03122F;
}

body {
  margin: 0;
  padding: 0;
}
