.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("./BannerMain.png");
  height: 800px;
  background-size: cover; /* Ajusta la imagen para cubrir todo el espacio disponible */
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.seccion {
  width: 50%;
}

.title {
  color: var(--blanco);
  font-family: "Roboto", sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
}

.p {
  color: var(--blanco);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
}

.video {
  width: 50%;
  display: flex;
  justify-content: center;
}

.video iframe {
  width: 100%; /* Ocupa el 100% del contenedor */
  aspect-ratio: 16 / 9; /* Mantiene la proporción 16:9 */
  border-radius: 15px;
  border: 5px solid var(--celestito);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  max-width: 600px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .banner {
    flex-direction: column; /* Apila los elementos */
    height: auto; /* Ajusta la altura automáticamente */
    padding: 10px;
  }

  .seccion,
  .video {
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Centra el texto */
  }

  .title {
    font-size: 36px; /* Reduce el tamaño de fuente */
  }

  .p {
    font-size: 16px;
  }
}
